div-table {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px;
}
.divRow {
    padding: 5px 5px 10px 10px;
}
h1 {
    background-color: gray;
    margin: 0px;
}
form {
    background-color: lightgray;
    margin: 0px;
}
