* {
    text-align: justify;
}
body {
    width: 50%;
    box-sizing: border-box;
    font-family: monospace, times;
}

.comments {
    color:crimson;
    font-weight: 800;
}

pre, p {
    font-size: 11pt;
    padding-left: 8px;
}

h2 {
    
    font-size: 13pt;
    font-weight: bold;
}

.answer {
    font-size: 14pt;
    font-weight: bold;
    color: blue;
}