<<<<<<< HEAD
html
    head
        title The Number Quiz
        link(rel='stylesheet', href='../css/style.css')
    body
        div(class="container")
                h1 The Number Quiz
                p Your current score is #{score}
=======
html
    head
        title The Number Quiz
        link(rel='stylesheet', href='../css/style.css')
    body
        div(class="container")
                h1 The Number Quiz
                p Your current score is #{score}
>>>>>>> c8fcdee71ba7c66544caa5140194e5e6ef829de0
                p You have completed The Number Quiz, with a score of #{score} out of 5.