body {
    width: 640px;
    box-sizing: border-box;
    font-family: monospace;
}

.comments {
    color:crimson;
    font-weight: 800;
}

h2 {
    
    font-size: 12pt;
    font-weight: bold;
}

.answer {
    font-size: 14pt;
    font-weight: bold;
    color: blue;
}
